# build products...
*.py[co]
build

# Backup files...
*~
*.bak

# Eclipse/PyDev stuff...
.checkstyle
.project
.pydevproject
.settings/
.venv/

# Mac OS X stuff...
.DS_Store

# Sublime stuff...
*.sublime-project
*.sublime-workspace

# Ansible stuff...
*.retry
ansible.cfg

# direnv
.direnv/
