extends: default
ignore: |
  .pre-commit-config.yaml
  .travis.yml
  /molecule/default/tests/
  /.venv/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments:
    require-starting-space: false
  line-length: disable
