[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible-lint = "*"
molecule = "*"
pre-commit = "*"
yamllint = "*"

[packages]
ansible = "==2.7.6"
docker-py = "*"
passlib = "*"
python-gilt = "*"
six = "*"
