[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible-lint = "*"
molecule = {extras = ["docker"],version = "*"}
pre-commit = "*"
python-gilt = "*"
yamllint = "*"

[packages]
ansible = "==2.7.9"
passlib = "*"
six = "*"
