[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
molecule = "*"
ansible = "*"
pre-commit = "*"
yamllint = "*"
docker = "*"
python-gilt = "*"

[packages]

[requires]
python_version = "2.7"
